@model KSociety.Com.Srv.Dto.S7.List.GridView.S7Connection
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/S7/Views/Shared/_S7Layout.cshtml";
}
<br />

<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">S7Connection</h2>
    </div>
    <div class="col-3">
        <a asp-action="Upsert" class="btn btn-info form-control text-white">Create New S7Connection</a>
    </div>

    <div class="col-3">
        <a asp-action="Export" asp-route-fileName="S7Connection.csv" class="btn btn-info form-control text-white">Export CSV</a>
    </div>

    <form asp-action="Import" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv" />
        <button type="submit">Upload File</button>
    </form>

    <div class="col-12 border p-3 mt-3" style="overflow: auto;">
        <form method="post">
            @if (Model.List != null)
            {
                @if (Model.List.Count > 0)
                {
                    <table class="table table-striped border">
                        <tr class="table-secondary">
                            <th>
                                <label asp-for="List.FirstOrDefault().Name"></label>
                            </th>
                            <th>
                                <label asp-for="List.FirstOrDefault().Ip"></label>
                            </th>
                            <th>
                                <label asp-for="List.FirstOrDefault().Enable"></label>
                            </th>
                            <th>
                                <label asp-for="List.FirstOrDefault().WriteEnable"></label>
                            </th>
                            <th>
                                <label asp-for="List.FirstOrDefault().CpuTypeId"></label>
                            </th>
                            <th>
                                <label asp-for="List.FirstOrDefault().Rack"></label>
                            </th>
                            <th>
                                <label asp-for="List.FirstOrDefault().Slot"></label>
                            </th>
                            <th>
                                <label asp-for="List.FirstOrDefault().ConnectionTypeId"></label>
                            </th>
                            <th>
                                <label>Edit</label>
                            </th>
                            <th>
                                <label>Delete</label>
                            </th>
                        </tr>
                        @foreach (var item in Model.List)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Ip)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Enable)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.WriteEnable)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model.CpuTypeId.List.Find(vp => vp.Key.Equals(item.CpuTypeId)).Value)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Rack)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Slot)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model.ConnectionTypeId.List.Find(vp => vp.Key.Equals(item.ConnectionTypeId)).Value)
                                </td>
                                <td>
                                    <a asp-action="Upsert" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Edit</a>
                                </td>
                                <td>
                                    <button asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p>No S7Connection available!</p>
                }
            }
            else
            {
                <p>No S7Connection available!</p>
            }
        </form>
    </div>
</div>

